################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mobi.Web/obj/Debug/net8.0
/Mobi.Service/obj/Mobi.Service.csproj.nuget.dgspec.json
/Mobi.Service/obj/Mobi.Service.csproj.nuget.g.props
/Mobi.Service/obj/project.assets.json
/Mobi.Service/obj/project.nuget.cache
/Mobi.Web/obj
/Mobi.Service/obj/Debug/net8.0/Mobi.Service.AssemblyInfoInputs.cache
/Mobi.Service/obj/Debug/net8.0/Mobi.Service.AssemblyInfo.cs
/Mobi.Service/obj/Debug/net8.0/Mobi.Service.assets.cache
/Mobi.Service/obj/Debug/net8.0/Mobi.Service.csproj.AssemblyReference.cache
/Mobi.Service/obj/Debug/net8.0/Mobi.Service.GeneratedMSBuildEditorConfig.editorconfig
/Mobi.Repository/obj/Mobi.Repository.csproj.nuget.g.props
/Mobi.Repository/obj/Mobi.Repository.csproj.nuget.dgspec.json
/Mobi.Repository/obj/project.nuget.cache
/Mobi.Repository/obj/project.assets.json
/Mobi.Repository/obj/Debug/net8.0/Mobi.Repository.AssemblyInfo.cs
/Mobi.Repository/obj/Debug/net8.0/Mobi.Repository.AssemblyInfoInputs.cache
/Mobi.Repository/obj/Debug/net8.0/Mobi.Repository.assets.cache
/Mobi.Repository/obj/Debug/net8.0/Mobi.Repository.csproj.AssemblyReference.cache
/Mobi.Repository/obj/Debug/net8.0/Mobi.Repository.GeneratedMSBuildEditorConfig.editorconfig
/Mobi.Data/obj/Debug/net8.0/Mobi.Data.AssemblyInfo.cs
/Mobi.Data/obj/Debug/net8.0/Mobi.Data.AssemblyInfoInputs.cache
/Mobi.Data/obj/Debug/net8.0/Mobi.Data.assets.cache
/Mobi.Data/obj/Debug/net8.0/Mobi.Data.csproj.AssemblyReference.cache
/Mobi.Data/obj/Debug/net8.0/Mobi.Data.GeneratedMSBuildEditorConfig.editorconfig
/Mobi.Data/obj/Mobi.Data.csproj.nuget.dgspec.json
/Mobi.Data/obj/Mobi.Data.csproj.nuget.g.props
/Mobi.Data/obj/project.assets.json
/Mobi.Data/obj/project.nuget.cache
/.vs/ProjectEvaluation/mobi.metadata.v9.bin
/.vs/ProjectEvaluation/mobi.projects.v9.bin
/.vs/ProjectEvaluation/mobi.strings.v9.bin
/.vs/Mobi/FileContentIndex
