@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4" style="font-size:32px">Welcome to Mobi Tend</h1>
</div> *@

<div class="text-center">
    <h1 class="display-4">@T("Mobi.HomePage.WelcomeMessage")</h1>
</div>

