@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mobi</h1>
</div>

<div class="text-center">
    <h1 class="display-4">@T("Mobi.Test")</h1>
</div>

