.custom-top-spacing {
    margin-top: 5px;
    padding-left: 0px; 
    padding-right: 0px;
}

/* Custom Badge Styles for Action Types */
.badge-custom-in {
    background-color: #28a745; /* Green for "IN" */
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

.badge-custom-out {
    background-color: #dc3545; /* Red for "OUT" */
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

.badge-custom-rejected {
    background-color: #17a2b8; /* Info color for "Rejected" */
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

.badge-custom {
    font-size: 14px; /* Adjust the size of the badges */
    padding: 6px 12px; /* Adjust the padding */
}

/* Optional: Hover Effect */
.badge-custom-in:hover, .badge-custom-out:hover, .badge-custom-rejected:hover {
    opacity: 0.8;
    cursor: pointer;
}

#autocomplete-results {
    position: absolute; /* Fix dropdown position */
    background-color: white; /* Ensure visibility */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Constrain height */
    overflow-y: auto; /* Add scroll if needed */
    z-index: 1050; /* Ensure it sits above other elements */
}

    #autocomplete-results .list-group-item {
        padding: 10px; /* Add spacing for better appearance */
        cursor: pointer; /* Indicate interactivity */
    }

        #autocomplete-results .list-group-item:hover {
            background-color: #f1f1f1; /* Highlight on hover */
        }

.position-relative {
    position: relative; /* Ensure relative parent for dropdown alignment */
}

.input-group-append .input-group-text {
    border-left: 0; /* Remove border overlap */
}


.total-records-row {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

    .total-records-row td {
        border-top: 2px solid #ccc;
        padding: 10px;
    }
@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    .total-records-row {
        background-color: #f2f2f2 !important;
        color: #333 !important;
    }
}
.dt-buttons {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .login-page .container {
        max-width: 90%;
    }
    .login-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 100%;
    }
}
    .login-page {
        align-items: flex-start;
    }

        .login-page .container .row {
            align-items: center;
        }

.login-box, .register-box {
    width: 100%;
}
.login-page .container .row .img-fluid {
    width: 100%;
}

